* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    /* margin: 36% 2rem; */
}

main {
    margin: 2rem;
}

p , h1 {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.8rem;
}

#index-p {
    font-size: 1.2rem;
}

li {
    margin: 0 0 1.3rem 1.8rem;
    padding-left: 0.3rem;
    list-style-image: url(assets/images/icon-list.svg);
    font-size: 1.1rem;
}

::marker {
    margin-top: 0.5rem;
}

.submit-btn {
    text-decoration: none;
    margin-top: 1.7rem;
    padding: 1.2rem;
    background-color: hsl(234, 29%, 20%);
    border-radius: 11px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    border: none;
    display: inline-block;
}

#sucess-icon {
    margin-bottom: 2.4rem;
}

#thanks-p {
    line-height: 30px;
    font-size: 1.2rem;
}

/* .submit-btn {
    margin-top: 75%;
} */

.hidden {
    visibility: hidden;
}

#desktop-container {
    position: absolute;
}

#thanks-container {
    position: absolute;
    margin: 50% 2rem;
}

h2 {
    font-size: 3rem;
    line-height: 47px;
    margin-bottom: 2rem;
}

#dismiss-btn {
    margin-top: 70%;
}

@media screen and (min-width:28rem) {
    body {
        height: 100vh;
        /* margin: 2rem 1rem 2rem 1rem; */
        background-color: hsl(234, 29%, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        margin: 0;
    }
    main {
        margin: 0;
        padding: 0 2rem;
        /* width: clamp(20%, 50%, 60%); */
    }
    #desktop-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-color: white;
        /* width: 60%; */
        width: clamp(60%, 100vw, 795px);
        height: 510px;
        /* height: clamp( 400px, 100vw, 510px); */
        border-radius: 21px;
        padding: 1rem;
        position: relative;
    }
    img {
        width: 19.82rem;
        height: 29.5rem;
        /* margin: 1rem; */
        object-fit: contain;
    }
    h1 {
        font-size: clamp(2rem, 5vw, 3.3rem);
        margin-bottom: 0.8rem;
        margin-top: 2rem;
        color: hsl(234, 29%, 20%);
    }
    #index-p {
        font-size: 0.8rem;
        line-height: 20px;
    }
    li {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    label {
        font-size: 0.7rem;
        font-weight: bold;
        border-radius: 7px;
        margin: 2rem 0 0.4rem 0 !important;
    }

    input {
        width: 93% !important;
    }
    .submit-btn {
        padding: 0.9rem 0;
        margin-top: 1.3rem;
        margin-bottom: 3rem;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 7px;
        width: 93%;
    }

    #sucess-icon {
        width: auto;
        height: auto;
        margin-bottom: 2rem;
    }
    #thanks-container {
        /* width: 33%; */
        width: clamp(440px, 33vw, 100vw);
        /* height: 90%; */
        padding: 3rem 3.5rem;
        border-radius: 30px;
        background-color: white;
    }
    h2 {
        margin-bottom: 1.2rem;
        color: hsl(234, 29%, 20%);
        font-size: 3rem;
        line-height: 47px;
    }
    #dismiss-btn {
        margin-top: 0.8rem;
        margin-bottom: 0rem;
        width: 100%;
        padding: 1rem 0;
    }
    #thanks-p {
        line-height: 23px;
        font-size: 0.9rem;
        color: hsl(234, 29%, 20%);
    }
}
